#page-landing{
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    color: var(--color-text-in-primary);
    background: var(--color-primary);
}

.topLogo{
    background:#fff;
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-items: center;
}
.topLogo img {
    margin: 20px auto;
    height: 100%;
}
.login .inputBlock {
    text-decoration: none;
    display:flex;
    flex-direction: column;
    color: #fff;
}
.login .inputBlock label{
    font-size:2rem;
}
.login .inputBlock input {
    padding-left:10px;
    font-size: 20px;
    width: 300px;
    height: 40px;
    border-radius: 4px;
    border:0;
    background: #ffdcdc;
}
.login .inputBlock button {
    cursor: pointer;
    margin-top: 20px;
    height: 40px;
    border-radius: 4px;
    border: 0;
    font: 700 18px Archivo;
    background: var(--color-secundary);
    color: #fff;
    transition:0.3s;
}
.login .inputBlock button:hover{
    background: var(--color-secundary-dark);
}
.login .inputBlock:first-child{
    margin-top: 20px;
}
.suport {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.footer {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20%;
    margin-bottom: 5%;
}
@media (max-width: 700px){
    .topLogo img {
        width: 60%;
    }
}